.banner-img {
  max-height: 500px;
  min-width: 100%;
  object-fit: cover;
  z-index: 0;
}

.text-overlay {
  margin-top: -45vh;
  margin-left: 44vw;
}

.banner-h1 {
  font-family: "Kanit", sans-serif;
  letter-spacing: 5px;
}

.card-image {
  max-height: 250px;
  min-width: 100%;
  object-fit: contain;
  z-index: 0;
}
