.banner-img {
  width: 100%;
  object-fit: cover;
}

.text-overlay {
  margin-top: -75vh;
  margin-left: 40vw;
}

.banner-h1 {
  font-family: "Kanit", sans-serif;
  // font-size: 4rem;
  // font-weight: 600;
}
