.banner-img {
  width: 80%;
  object-fit: cover;
  z-index: 0;
}

.text-overlay {
  margin-top: -45vh;
  margin-left: 55vw;
}

.banner-h1 {
  font-family: "Kanit", sans-serif;
  // font-size: 4rem;
  // font-weight: 600;
}
