// —————————— VARIABLES ———————— //

// scss-docs-start color-variables

// my-colors-start
// $purple: #3d3044;
// $purple-light: #453a4b;
// $green: #24be20;
// $red: #f27b7e;
// $gray: #d0d0d0;
// my-colors-end

// scss-docs-end color-variables

// scss-docs-start theme-color-variables

// my-themes-start
$primary: #3d3044;
// $secondary: $purple;
// $tertiary: $gray;
// my-themes-end

// scss-docs-end theme-color-variables

//  typography-start
$font-family-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI",
  "Kanit", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
$font-family-monospace: "Open Sans", SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
//  typography-end
