// scss-docs-start color-variables
$purple: #3d3044;
$purple-lighter: #453a4b;
$purple-dark: #812f95;
$purple-bright: #d02896;
$grey: #d0d0d0;
$red: #f27b7e;
$green: #24be00;
// scss-docs-end color-variable

// scss-docs-start theme-color-variables
$primary: $purple;
$secondary: $purple-lighter;
$success: $green;
$info: $grey;
$danger: $red;
// scss-docs-end theme-color-variables
